<ul class="nav justify-content-end" id="topLinks">
  <li class="nav-item">
    <a class="nav-link disabled" href="/edit">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/logout">Logout</a>
  </li>
</ul>

<div class="container">
  <div class="row" id="addHouse">
    <div id="form">
      <h3>Add a favorite house</h3>
      <form class="create-update-form" action="/houses" method="POST">
        <div class="form-group">
          <label for="ca">Address:</label>
          <input type="text" id="address" name="address">
          <label for="ca">City:</label>
          <input type="text" id="city" name="city">
          <label for="ca">State:</label>
          <input type="text" id="state" name="state">
          <label for="ca">Zip:</label>
          <input type="text" id="zip" name="zip">
        </div>
        <button type="submit">Add House</button>
      </form>
    </div>
  </div>


<div class="row" id="housesTable">
<div class="table-houses">
   
   <table cellspacing="10">

      <tr>

         <th class="th">House</th>
         <th class="th">Address</th>
         <th class="th">Price</th>
         <th class="th">Number of Bedrooms</th>
         <th class="th">Sq Ft</th>
          {{#each houseData.list}}
            
              <th class="th">{{this}}</th>
        
         {{/each}}

            <th width="230">Comments</th>
        
      </tr>
{{#each houseData}}
        <tr>
           <td><img src="https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15" alt=""></td>
           <td class="td">{{this.address}}</td>
           <td class="td">{{this.zestimate}}</td>
           <td class="td">{{this.bedrooms}}</td>
           <td class="td">{{this.sqft}}</td>
           <td>user input</td>
           <td>user input</td>
           <td class="td">{{this.comment}}</td>

        </tr>
{{/each}}
     </table>
  </div>
</div>
   



