<h1> Saved Houses </h1>

<ul>
	{{#each houseData2.house}}
		<li>
			{{this.address}}
			<ul>
				<li>Price: ${{this.zestimate}}</li>
				<li>Sq Ft: {{this.sqft}}</li>
				<li>Bedrooms: {{this.bedrooms}}</li>
                {{#each houseData2.selectionTitles}}
                    <li>{{this}} : </li>
                {{/each}}
			</ul>
		</li>
	{{/each}} 
    
</ul>

<h2>Add a favorite house</h2>
    <form class="create-update-form" action="/houses" method="POST">
        <div class="form-group">
            <label for="ca">Address:</label>
            <input type="text" id="address" name="address">
            <label for="ca">City:</label>
            <input type="text" id="city" name="city">
            <label for="ca">State:</label>
            <input type="text" id="state" name="state">
            <label for="ca">Zip:</label>
            <input type="text" id="zip" name="zip">
        </div>
        <button type="submit">Add House</button>
    </form>